
.Datos-comprador{
    background-color:rgb(0, 128, 0) ;
    border: 8px solid rgb(173, 216, 230);
    padding: 10px;
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border-radius: 8px;
    color: white;
}
.acomodo{
    display: inline-block;
    width: 100px; 
    }

.ColorFondo{
    border: 3px solid red;
    padding: 0 auto;
}

.datos1{
    padding-top: 40px;
    padding-left: 30px;
}
.nombre{
    padding-left: 60px;
    padding-top: 30px;
}
.email{
    padding-left: 60px;
}
.telefono{
    padding-left: 60px;
}
.pais{
    padding-left: 60px;
    padding-bottom:40px ;
}
.numero{
    padding-left: 60px;
}
.nombre2{
    padding-left: 60px;
}
.confirmarPedido{
    padding-left: 35px;
    padding-top: 10px;
    border-top: 2px dashed white;
    width: 150px;
}